<domain type='kvm'>
  <name>{{ esxi_hostname }}</name>
  <memory unit='MB'>{{ esxi_ram_mb }}</memory>  
  <vcpu placement='static'>{{ esxi_vcpu }}</vcpu>
  <resource>
    <partition>/machine</partition>
  </resource>
  <os>
    <type arch='x86_64' machine='pc-q35-5.2'>hvm</type>    
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <kvm>
      <hidden state='on'/>
    </kvm>
  </features>
  <cpu mode='host-passthrough' check='none' migratable='on'/>
  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>destroy</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    {% for disk in esxi_disks %}    
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ esxi_pool }}/{{ disk.name }}.qcow2'/>
      <backingStore/>
      <target dev='sd{{ chr(ord('a') + loop.index0 ) }}' bus='sata'/>
      <address type='drive' controller='0' bus='0' target='0' unit='{{ loop.index }}'/>
    </disk>
    {% endfor%}   
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ esxi_pool }}/esxi7.iso'/>
      <backingStore/>
      <target dev='sd{{ chr(ord('a') + esxi_disks|length ) }}' bus='sata'/>
      <readonly/>
      <address type='drive' controller='0' bus='0' target='0' unit='{{ esxi_disks|length }}'/>
    </disk>
    <interface type='bridge'>
      <mac address='52:54:00:5d:23:9a'/>
      <source bridge='virbr0'/>
      <model type='e1000e'/>
      <address type='pci' domain='0x0000' bus='0x01' slot='0x00' function='0x0'/>
    </interface>
    <graphics type='vnc' port='-1' autoport='yes' listen='0.0.0.0'>
      <listen type='address' address='0.0.0.0'/>
    </graphics>
    <video>
      <model type='qxl' ram='65536' vram='65536' vgamem='16384' heads='1' primary='yes'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x01' function='0x0'/>
    </video>
  </devices>
  <seclabel type='dynamic' model='apparmor' relabel='yes'/>
</domain>