pkr_iso_url = "{{ cache_server_address }}/{{ esxi.install_iso.name }}"
pkr_iso_checksum = "{{ esxi.install_iso.checksum }}"
pkr_output_disk = "{{ esxi.outpur_disk_name }}"
pkr_cpu = {{ esxi.cpu }}
pkr_mem = {{ esxi.mem }}
pkr_ip = "{{ esxi.address }}"
pkr_gateway = "{{ esxi.gateway }}"
pkr_netmask = "{{ esxi.netmask }}"
pkr_nameserver = "{{ esxi.nameserver }}"
pkr_net_bridge = "{{ bridge_network }}"
pkr_ssh_user = "{{ esxi.ssh_user }}"
pkr_ssh_pass = "{{ esxi.ssh_pass }}"